[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "sva"
authors = [
    {"name" = "Matthew R. Carbone", "email" = "mcarbone@bnl.gov"},
    {"name" = "Phillip M. Maffettone", "email" = "pmaffetto@bnl.gov"},
]
maintainers = [
    {"name" = "Matthew R. Carbone", "email" = "mcarbone@bnl.gov"}
]
description = "The Scientific Value Agent"
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.11"
license = {"file" = "LICENSE"}
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Natural Language :: English",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering",
    "Intended Audience :: Developers",
    "Intended Audience :: Education",
    "Intended Audience :: Science/Research",
]
dependencies = [
    "attrs",
    "numpy",
    "pandas",
    "scipy>=1.12.0",
    "scikit-learn",
    "tqdm",
    # Specific install of monty for now
    # "git+https://github.com/matthewcarbone/monty@mc-dev-653",
    "monty @ git+https://github.com/matthewcarbone/monty@mc-dev-653",
    "torch>=2.0.0",
    "gpytorch==1.11.0",
    "botorch==0.9.2",
    "pyyaml",
    "pyastronomy>=0.20.0",
]

[project.optional-dependencies]
test = [
    "codecov",
    "coverage",
    "flake8",
    "pytest",
    "pytest-cov",
    "black",
    "nbstripout",
    "pre-commit",
]
notebook = [
    "ipython",
    "jupyterlab",
    "imageio",
]
build = [
    "flit~=3.7",
    "dunamai==1.19.2",
]

[tool.ruff]
line-length = 80

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
docstring-code-format = true
docstring-code-line-length = 60
